body {
    background-color: #31393c;
    color: white;
}

h5 {
    font-weight: 400 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.user-table {
    margin-top: 20px;
    color: white;
}

.badge {
    margin-right: 4px;
    background-color: #937666;
    color: white;
}

.exclamation {
    color: orange;
}

.check {
    color: green;
}

.bad {
    color: red;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilo del pulgar (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #937666;
    /* Color del pulgar */
    border-radius: 6px;
    /* Bordes redondeados del pulgar */
}

/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #31393c;
    /* Color del fondo de la barra de desplazamiento */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}