body {
    background-color: #31393c;
    color: white;
}

h5 {
    font-weight: 400 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.user-table {
    margin-top: 20px;
    color: white;
}

.badge {
    margin-right: 4px;
    background-color: #937666;
    color: white;
}